<ion-menu side="start" menuId="home2Menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" class="home2-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false" menu="home2Menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="top-bar">
    <img src="assets/icon/logo.png" alt="Logo" class="logo-right" />
  </div>

  <div class="saudacao">
    <h2>Olá {{ username }}!</h2>
    <p>Pronto para embarcar numa nova aventura?</p>
  </div>

  <ng-container *ngIf="temViagens; else semViagens">
    <div class="secao">
      <h3>Próxima viagem:</h3>
    </div>

    <div class="secao">
      <h3>Histórico de viagem:</h3>
    </div>
  </ng-container>

  <ng-template #semViagens>
    <p class="sem-viagens">Ainda não tens viagens criadas.</p>
  </ng-template>

  <ion-button expand="block" class="btn-vermais">Ver mais</ion-button>
</ion-content>
