<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Anterior"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" fullscreen>
  <div class="center-wrapper">
    <img src="assets/icon/logo.png" alt="Going Day" class="logo" />

    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Palavra passe</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-login" (click)="goToHome2()">
      Iniciar sessão
    </ion-button>


    <div class="forgot-password">
      <a href="#">Pretende redefinir a sua palavra passe?</a>
    </div>
  </div>
</ion-content>
