<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home2" text="Anterior"></ion-back-button>
    </ion-buttons>
    <ion-title>Diário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="diario-content">
  <div class="grid-opcoes">
    <ion-button class="opcao" (click)="goTo('listadiario')">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Lista de diários</ion-label>
    </ion-button>

    <ion-button class="opcao" (click)="goTo('adddiario')">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Adicionar diário</ion-label>
    </ion-button>

    <ion-button class="opcao" (click)="goTo('ponto-interesse')">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Adicionar ponto de interesse</ion-label>
    </ion-button>

    <ion-button class="opcao" (click)="goTo('itinerario')">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Adicionar itinerário</ion-label>
    </ion-button>
  </div>
</ion-content>
