<ion-content fullscreen class="background">
  <div class="overlay">
    <img src="assets/icon/logo.png" class="logo" alt="Logo Going Day" />

    <div class="slogan">
    <p>Planeia as tuas<br>melhores viagens</p>
    </div>

    <div class="buttons">
      <ion-button expand="block" color="success" class="btn-login" (click)="goToLogin()">
        Iniciar sessão
      </ion-button>

      <ion-button expand="block" fill="clear" class="btn-register" (click)="goToRegister()">
        Criar conta
      </ion-button>
    </div>
  </div>
</ion-content>
